<launch>
    
    <!-- Launch Task-4 Simulation Environment in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />

    <!-- This node is for .....  -->
    <!-- It is also ..... -->
    <node name="task4_part2" pkg="pkg_task4" type="task4_part2.py" output="screen"/>

    <!-- This node is for .....  -->
    <!-- It is also .....  -->
    <node name="task4_part1" pkg="pkg_task4" type="task4_part1.py" output="screen"/>

    <!-- Recording Bag File for Submission -->
    <arg name="record" default="false"/>
    <arg name="rec_name" default="task4.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task4)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1 /eyrc/vb/ur5_2/vacuum_gripper/logical_camera/ur5_2" output="screen"/>
    </group>

	
</launch>
